

<h2 align ="center" style="color:#3366ff;"> Lista de solicitudes </h2>
<table class="table table-striped" WIDTH = 500>
<br>
<br>
<br>
	<tr  ng-repeat="e in eventos" >	
	
	
		 <td ng-show="e.estado==0" style="text-align:center"> <a href="/#/eventos/{{e.eventId}}" style="float: left;" class="thumbnail"> 

			<img ng-src="http://i.imgur.com/I0p8PvI.jpg"   width="200" height="50" >			</a>

			<a href="/#/eventos/{{e.eventId}}"> <h3> {{e.titulo}} </h3></a>
			<br> <br>
			<p> {{e.descripcion}} </p>

			    </td>
	
										
	</tr>

</table>
 <footer>
				<p>
					&copy; Copyright Comuni
				</p>
  </footer>